{% import 'partials/navigation.html.twig' as nav %}
<header class="header">
    <div class="header__wrapper">

        {% set site_logo = theme.site_logo ? theme.site_logo : site.title %}

    	{# Logo #}
        {# <a class="header__logo" href="{{ base_url == '' ? '/' : base_url }}">{{ site_logo }}</a> #}

        {# landscape #}
        {# <nav class="header__nav landscape">
            {{ nav.main(pages, theme) }}
        </nav> #}

        <nav class="header__nav landscape">
            <ul class="inline-list">
                <li>
                    <a class="nav-link" href="#">Basics</a>
                    <ul>
                        <li><a class="nav-link" href="#">Concept</a></li>
                        <li><a class="nav-link" href="#">Concept</a></li>
                        <li><a class="nav-link" href="#">Concept</a></li>
                    </ul>
                </li>
                <li><a class="nav-link nav-link--selected" href="/engines">Engines</a></li>
            </ul>
        </nav>

        <a class="header__logo" href="{{ base_url == '' ? '/' : base_url }}">{{ site_logo }}</a>

        <nav class="header__nav landscape">
            <ul class="inline-list">
                <li><a class="nav-link" href="https://shop.zynthian.org/" target="_blank" rel="noopener noreferrer">Shop</a></li>
                <li>
                    <a class="nav-link" href="#">Learn</a>
                    <ul>
                        <li><a class="nav-link" href="https://discourse.zynthian.org/" target="_blank" rel="noopener noreferrer">Discourse</a></li>
                        <li><a class="nav-link" href="https://wiki.zynthian.org/index.php/Zynthian_Wiki_Home" target="_blank" rel="noopener noreferrer">Wiki</a></li>
                        <li><a class="nav-link" href="https://github.com/zynthian" target="_blank" rel="noopener noreferrer">Github</a></li>
                        <li><a class="nav-link" href="https://blog.zynthian.org/" target="_blank" rel="noopener noreferrer">Blog</a></li>
                    </ul>
                </li>
            </ul>
        </nav>

        {# portrait #}
        <div class="header__toggle-on portrait">
            <span class="material-icons">menu</span>
        </div>
        <nav class="header__panel portrait">
            <a class="header__panel-logo" href="{{ base_url == '' ? '/' : base_url }}">{{ site_logo }}</a>
            <div class="header__toggle-off">
                <span class="material-icons">close</span>
            </div>
            {{ nav.main(pages, theme) }}
        </nav>

    </div>
</header>

