{% import 'partials/navigation.html.twig' as nav %}

{% do assets.addJs('theme://js/topmenu.js') %}
{% set site_logo = "<img src='/user/themes/zynthian/img/zynthian_logo_black_trans.png'>" %}

<header class="header">
    <div class="header__wrapper landscape">
        {# landscape #}
        <nav class="header__nav  first-menu">
            <ul class="inline-list">
                {% include 'partials/navigation-1.html.twig' %}
            </ul>
        </nav>

        <a class="header__logo" href="{{ base_url == '' ? '/' : base_url }}#">{{ site_logo }}</a>

        <nav class="header__nav second-menu">
            <ul class="inline-list">
                {% include 'partials/navigation-2.html.twig' %}
            </ul>
        </nav>
    </div>

    <div class="header__wrapper portrait">
        <div class="logo-burguer">
            <a class="header__logo-mobile" href="{{ base_url == '' ? '/' : base_url }}#">{{ site_logo }}</a>
            {# portrait #}
            <div class="header__toggle-on">
                <span class="material-icons">menu</span>
            </div>
        </div>
        <nav class="header__panel portrait">
            <a class="header__panel-logo" href="{{ base_url == '' ? '/' : base_url }}">{{ site_logo }}</a>
            <div class="header__toggle-off">
                <span class="material-icons">close</span>
            </div>
            <div class="header__mobile-menu">
	            <ul class="menu-list">
	                {% include 'partials/navigation-1.html.twig' %}
	                {% include 'partials/navigation-2.html.twig' %}
	            </ul>
        	</div>
        </nav>

    </div>
</header>

